<div class="flex border-subtle p-4 rounded-lg">
  <form
    hx-post="/subscribe-newsletter"
    hx-target="#response"
    hx-swap="innerHTML"
  >
    <input
      type="email"
      name="waitlist[email]"
      id="waitlist_email"
      value=""
      placeholder="messi@workon.co"
    />
    <input
      type="submit"
      name="commit"
      value="Join the waitlist"
      class="!rounded-lg ml-4"
      id="signup-newsletter"
      data-disable-with="Join the waitlist"
    />
  </form>
  <div id="response"></div>
</div>
