<div class="min-h-screen bg-black text-white">
  <header
    class="sticky top-0 z-50 flex flex-wrap items-center justify-between bg-black px-4 py-5 shadow-md shadow-slate-900/5 transition duration-500 sm:px-6 lg:px-8"
  >
    <div class="relative flex flex-grow basis-0 items-center">
      Hashirama Institute
    </div>
    <div class="-my-5 mr-6 sm:mr-8 md:mr-0">
      <button
        type="button"
        class="group flex h-6 w-6 items-center justify-center sm:justify-start md:h-auto md:w-80 md:flex-none md:rounded-lg md:py-2.5 md:pl-4 md:pr-3.5 md:text-sm md:ring-1 md:ring-slate-200 md:hover:ring-slate-300 dark:md:bg-slate-800/75 dark:md:ring-inset dark:md:ring-white/5 dark:md:hover:bg-slate-700/40 dark:md:hover:ring-slate-500 lg:w-96"
      >
        <svg
          aria-hidden="true"
          viewBox="0 0 20 20"
          class="h-5 w-5 flex-none fill-slate-400 group-hover:fill-slate-500 dark:fill-slate-500 md:group-hover:fill-slate-400"
        >
          <path
            d="M16.293 17.707a1 1 0 0 0 1.414-1.414l-1.414 1.414ZM9 14a5 5 0 0 1-5-5H2a7 7 0 0 0 7 7v-2ZM4 9a5 5 0 0 1 5-5V2a7 7 0 0 0-7 7h2Zm5-5a5 5 0 0 1 5 5h2a7 7 0 0 0-7-7v2Zm8.707 12.293-3.757-3.757-1.414 1.414 3.757 3.757 1.414-1.414ZM14 9a4.98 4.98 0 0 1-1.464 3.536l1.414 1.414A6.98 6.98 0 0 0 16 9h-2Zm-1.464 3.536A4.98 4.98 0 0 1 9 14v2a6.98 6.98 0 0 0 4.95-2.05l-1.414-1.414Z"
          ></path></svg
        ><span
          class="sr-only md:not-sr-only md:ml-2 md:text-slate-500 md:dark:text-slate-400"
          >Search docs</span
        ><kbd
          class="ml-auto hidden font-medium text-slate-400 dark:text-slate-500 md:block"
          ><kbd class="font-sans">Ctrl </kbd><kbd class="font-sans">K</kbd></kbd
        >
      </button>
    </div>
    <div
      class="relative flex basis-0 items-center justify-center gap-6 sm:gap-8 md:flex-grow"
    >
      <a aria-label="Home page flex" class="text-slate-400" href="/">Docs</a
      ><a aria-label="Home page flex" class="text-slate-400" href="/blog"
        >Blog</a
      ><a aria-label="Home page flex" class="text-slate-400" href="/pricing"
        >Pricing</a
      ><button
        class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-semibold text-slate-900 bg-cyan-300 hover:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-cyan-500 active:text-slate-400 whitespace-nowrap"
      >
        Get Started
      </button>
    </div>
  </header>

  <main class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="p-8 rounded-lg">
        <h1 class="text-5xl md:text-6xl font-bold text-cyan-400 mb-4">
          Cost Effective, Reliable Food Delivery for underserved markets
        </h1>
        <p class="text-xl mb-6">
          Solving nutritional deficencies in seniors in the phoenix arizona
          areaa
        </p>
        <div class="space-x-4">
          <button class="bg-cyan-400 text-gray-900 px-6 py-3 rounded-md">
            Get started
          </button>
          <a href="#" class="text-cyan-400 hover:underline">Read the docs</a>
        </div>
      </div>
      <div class="space-y-4">
        <div class="bg-gray-800 p-6 rounded-lg">
          <h3 class="text-lg font-semibold mb-2">Fine-tune</h3>
          <p class="text-gray-400"></p>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg">
          <h3 class="text-lg font-semibold mb-2"></h3>
          <p class="text-gray-400">
            Fine-tune the LLaVa model on your images to describe them.
          </p>
        </div>
        <div class="bg-gray-800 p-6 rounded-lg">
          <h3 class="text-lg font-semibold mb-2">Chat with your PDFs</h3>
          <p class="text-gray-400">
            Use OCR + MistralLite to chat with your PDFs.
          </p>
        </div>
      </div>
    </div>

    <div
      class="mt-12 w-auto relative"
      style="display: flex; animation: 25s linear infinite scroll-left"
    >
      <div class="mx-3">
        <div
          class="relative w-[400px] rounded-2xl border border-cyan-300/10 bg-[#121e30] p-6 shadow-xl shadow-slate-900/10"
        >
          <div class="flex flex-row items-start justify-start">
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  "
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2756%27%20height=%2756%27/%3e" /></span
              ><img
                alt=""
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75"
                decoding="async"
                data-nimg="intrinsic"
                class="h-20 w-20 rounded-full"
                style="
                  border-radius: 50%;
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: medium;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=64&amp;q=75  1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75 2x
                "
            /></span>
            <div class="ml-2 flex flex-row text-white">
              John Simerlink
              <div class="ml-1 text-slate-500">@johnsimerlink</div>
            </div>
          </div>
          <div class="mt-1 text-white">
            @brevdev I just had the best developer experience and customer
            service I may have had with any product ever. I had spent hours
            trying to rent GPUs and configuring environments correctly. I
            stumbled across brev and 10 minutes later had it running and working
            locally
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div
          class="relative w-[400px] rounded-2xl border border-cyan-300/10 bg-[#121e30] p-6 shadow-xl shadow-slate-900/10"
        >
          <div class="flex flex-row items-start justify-start">
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  "
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2756%27%20height=%2756%27/%3e" /></span
              ><img
                alt=""
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75"
                decoding="async"
                data-nimg="intrinsic"
                class="h-20 w-20 rounded-full"
                style="
                  border-radius: 50%;
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: medium;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=64&amp;q=75  1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75 2x
                "
            /></span>
            <div class="ml-2 flex flex-row text-white">
              John Simerlink
              <div class="ml-1 text-slate-500">@johnsimerlink</div>
            </div>
          </div>
          <div class="mt-1 text-white">
            @brevdev I just had the best developer experience and customer
            service I may have had with any product ever. I had spent hours
            trying to rent GPUs and configuring environments correctly. I
            stumbled across brev and 10 minutes later had it running and working
            locally
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div
          class="relative w-[400px] rounded-2xl border border-cyan-300/10 bg-[#121e30] p-6 shadow-xl shadow-slate-900/10"
        >
          <div class="flex flex-row items-start justify-start">
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  "
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2756%27%20height=%2756%27/%3e" /></span
              ><img
                alt=""
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75"
                decoding="async"
                data-nimg="intrinsic"
                class="h-20 w-20 rounded-full"
                style="
                  border-radius: 50%;
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: medium;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=64&amp;q=75  1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75 2x
                "
            /></span>
            <div class="ml-2 flex flex-row text-white">
              John Simerlink
              <div class="ml-1 text-slate-500">@johnsimerlink</div>
            </div>
          </div>
          <div class="mt-1 text-white">
            @brevdev I just had the best developer experience and customer
            service I may have had with any product ever. I had spent hours
            trying to rent GPUs and configuring environments correctly. I
            stumbled across brev and 10 minutes later had it running and working
            locally
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div
          class="relative w-[400px] rounded-2xl border border-cyan-300/10 bg-[#121e30] p-6 shadow-xl shadow-slate-900/10"
        >
          <div class="flex flex-row items-start justify-start">
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  "
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2756%27%20height=%2756%27/%3e" /></span
              ><img
                alt=""
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75"
                decoding="async"
                data-nimg="intrinsic"
                class="h-20 w-20 rounded-full"
                style="
                  border-radius: 50%;
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: medium;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=64&amp;q=75  1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75 2x
                "
            /></span>
            <div class="ml-2 flex flex-row text-white">
              John Simerlink
              <div class="ml-1 text-slate-500">@johnsimerlink</div>
            </div>
          </div>
          <div class="mt-1 text-white">
            @brevdev I just had the best developer experience and customer
            service I may have had with any product ever. I had spent hours
            trying to rent GPUs and configuring environments correctly. I
            stumbled across brev and 10 minutes later had it running and working
            locally
          </div>
        </div>
      </div>
      <div class="mx-3">
        <div
          class="relative w-[400px] rounded-2xl border border-cyan-300/10 bg-[#121e30] p-6 shadow-xl shadow-slate-900/10"
        >
          <div class="flex flex-row items-start justify-start">
            <span
              style="
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;
              "
              ><span
                style="
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;
                "
                ><img
                  style="
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  "
                  alt=""
                  aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2756%27%20height=%2756%27/%3e" /></span
              ><img
                alt=""
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75"
                decoding="async"
                data-nimg="intrinsic"
                class="h-20 w-20 rounded-full"
                style="
                  border-radius: 50%;
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: medium;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                srcset="
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=64&amp;q=75  1x,
                  /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fjohn.eaeb638a.jpeg&amp;w=128&amp;q=75 2x
                "
            /></span>
            <div class="ml-2 flex flex-row text-white">
              John Simerlink
              <div class="ml-1 text-slate-500">@johnsimerlink</div>
            </div>
          </div>
          <div class="mt-1 text-white">
            @brevdev I just had the best developer experience and customer
            service I may have had with any product ever. I had spent hours
            trying to rent GPUs and configuring environments correctly. I
            stumbled across brev and 10 minutes later had it running and working
            locally
          </div>
        </div>
      </div>
    </div>

    <div class="mt-12">
      <h3 class="text-xl font-semibold mb-4">Official Partners</h3>
      <div class="flex flex-wrap justify-center gap-8">
        <img
          src="/static/images/customers/8y4RYFL3.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/OpPrKP7R.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/UnB8hXH5.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/gHCUrdX2.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/Bml7usjd.png"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/TU5U3k37.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/ZE_GWkBa.svg"
          alt="Partner logo"
          class="h-12"
        />
        <img
          src="/static/images/customers/wfNrcqjM.png"
          alt="Partner logo"
          class="h-12"
        />
      </div>
    </div>
  </main>
</div>
