{{template "head.html" .}}

<body>
  <link
    href="https://reflect.app/_next/static/css/78b71d27fcdd545a.css"
    rel="stylesheet"
  />
  <main class="fixed inset-0 overflow-hidden">
    <div class="app-theme dark select-none antialiased">
      <div
        class="bg-background-stark font-sans text-coolgray-900 dark:text-near-white"
      >
        <div
          class="app-region-drag pointer-events-none absolute top-0 left-0 right-0 z-0 h-5 ipad:hidden"
        ></div>
        <div
          class="fixed inset-0 flex flex-col overflow-hidden bg-background-stark"
        >
          <h1>Journal list view</h1>

          <div
            class="grid flex-1 overflow-hidden"
            stlye="grid-template-columns: 300px 1px minmaxx(80px, auto);"
          >
            <!-- begin of thing -->
            <!-- <div
                id="border-thing"
                class="relative z-10 cursor-col-resize bg-coolgray-900/8 transition-all duration-500 before:absolute hover:bg-primary hover:bg-opacity-50 dark:border-black dark:bg-white/5 dark:hover:bg-primary before:-inset-0.5 capacitor:before:-inset-1 touch-none"
                style="width: 1px"
              ></div> -->
            <div class="split-grid-main overflow-hidden flex flex-col">
              {{template "reflect-journal-view.html" .}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
