reflect

<div
  class="antialiased bg-white font-sans text-coolgray-900 dark:bg-app-black dark:text-near-white"
>
  <div class="flex flex-col px-5">
    <header class="absolute top-0 right-0">
      <div class="flex items-center justify-end my-3 mx-2">
        <div class="flex-shrink-0">
          <a
            class="w-11 flex items-center"
            aria-label="Reflect"
            href="https://reflect.app/?utm_source=reflect_publish"
            ><img
              alt="logo"
              loading="lazy"
              width="40"
              height="40"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              srcset="
                /_next/image?url=%2Fstatic%2Ficons%2F1024x1024.png&amp;w=48&amp;q=100 1x,
                /_next/image?url=%2Fstatic%2Ficons%2F1024x1024.png&amp;w=96&amp;q=100 2x
              "
              src="/_next/image?url=%2Fstatic%2Ficons%2F1024x1024.png&amp;w=96&amp;q=100"
          /></a>
        </div>
      </div>
    </header>
    <div class="lg:max-w-prose lg:min-w-prose mx-auto max-w-full">
      <div class="flex flex-col py-5 md:py-10 select-text">
        <div class="italic text-sm text-gray-400">
          Updated <time datetime="2024-09-06T02:45:55.646Z">Sep 5, 2024</time>
        </div>
        <div class="py-2">
          <div class="reflect-editor-scope dark" style="color-scheme: dark">
            <div class="remirror-theme reflect-editor-sm">
              <div class="reflect-static-editor remirror-editor ProseMirror">
                <h1>hashirama.art</h1>
                <p></p>
                <p>
                  Here's a sample of elements that reflect supports in markdown
                  format:
                </p>
                <div
                  class="prosemirror-flat-list"
                  data-list-kind="bullet"
                  data-list-collapsable=""
                >
                  <div
                    class="list-marker list-marker-click-target"
                    contenteditable="false"
                  >
                    <div
                      class="list-bullet-bottom list-marker-click-target"
                    ></div>
                    <div class="list-spine list-marker-click-target"></div>
                  </div>
                  <div class="list-content">
                    <p>Bulleted list</p>
                    <div class="prosemirror-flat-list" data-list-kind="bullet">
                      <div
                        class="list-marker list-marker-click-target"
                        contenteditable="false"
                      >
                        <div
                          class="list-bullet-bottom list-marker-click-target"
                        ></div>
                        <div class="list-spine list-marker-click-target"></div>
                      </div>
                      <div class="list-content"><p>Nested item</p></div>
                    </div>
                    <div class="prosemirror-flat-list" data-list-kind="bullet">
                      <div
                        class="list-marker list-marker-click-target"
                        contenteditable="false"
                      >
                        <div
                          class="list-bullet-bottom list-marker-click-target"
                        ></div>
                        <div class="list-spine list-marker-click-target"></div>
                      </div>
                      <div class="list-content"><p>Another nested item</p></div>
                    </div>
                  </div>
                </div>
                <div class="prosemirror-flat-list" data-list-kind="ordered">
                  <div class="list-content"><p>Numbered list</p></div>
                </div>
                <div
                  class="prosemirror-flat-list"
                  data-list-kind="ordered"
                  data-list-collapsable=""
                >
                  <div class="list-content">
                    <p>Second item</p>
                    <div class="prosemirror-flat-list" data-list-kind="ordered">
                      <div class="list-content">
                        <p>Nested numbered item</p>
                      </div>
                    </div>
                    <div class="prosemirror-flat-list" data-list-kind="ordered">
                      <div class="list-content">
                        <p>Another nested numbered item</p>
                      </div>
                    </div>
                  </div>
                </div>
                <blockquote><p>Blockquote for emphasizing text</p></blockquote>
                <p>
                  Table Header Columns Row 1 Data Data Row 2 Data Data block for
                  displaying code or formatted text```
                </p>
                <hr />
                <p>Horizontal rule (line) for separation</p>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <p>
                  <strong>Bold text</strong><br /><em>Italic text</em><br /><s
                    >Strikethrough text</s
                  >
                </p>
                <p>
                  <a
                    href="https://example.com"
                    rel="noopener noreferrer nofollow"
                    >Hyperlink</a
                  >
                </p>
                <p>
                  <img
                    loading="lazy"
                    alt="Image alt text"
                    src="https://example.com/image.jpg"
                    title=""
                    resizable="false"
                  />
                </p>
                <p></p>
                <p>
                  call everyone using
                  <a href="http://retell.ai" rel="noopener noreferrer nofollow"
                    >retell.ai</a
                  >
                </p>
                <p></p>
                <p></p>
                <hr />
                <h3>
                  <strong>-Joseph Gordon-Levitt</strong>
                  &lt;joseph.gordon.levitt@adnanwahab.com&gt;
                </h3>
                <h3>
                  <strong>hashirama institute</strong>
                  &lt;apotheosis@hashirama.bio&gt;
                </h3>
                <h3>
                  <strong>david friedman</strong>
                  &lt;ben.shapiro.944@gmail.com&gt;
                </h3>
                <p>
                  <a
                    href="https://injustice.fandom.com/wiki/Brainiac/Quotes#:~:text=%22My%20point%20of%20origin%20was,Brainiac.%22"
                    rel="noopener noreferrer nofollow"
                    >https://injustice.fandom.com/wiki/Brainiac/Quotes#:~:text=%22My%20point%20of%20origin%20was,Brainiac.%22</a
                  >
                </p>
                <p>we dont know when we're being unconscious</p>
                <p>
                  we dont know when we're acting through patterns and ego wounds
                </p>
                <p>we dont know whne its autopilot</p>
                <p>we dont know whne or how much we hurt others</p>
                <p>we dont know</p>
                <p></p>
                <p></p>
                <p>
                  <a
                    href="https://beyondyouryear.blogspot.com/2013/04/mazel-tov-daniella.html"
                    rel="noopener noreferrer nofollow"
                    >https://beyondyouryear.blogspot.com/2013/04/mazel-tov-daniella.html</a
                  >
                </p>
                <p></p>
                <p></p>
                <p>
                  We often don't know the irreversibilte ramifcations our
                  actions can have on another peorson.
                </p>
                <p>
                  Most people don't think before thry change someones life for
                  the next 5 years .
                </p>
                <p>Thats what happened to me</p>
                <p>May 5 - rena still chatting with me</p>
                <p>June 5 - Badani blocks me. then rena blocks me</p>
                <p>
                  Were they fucking ?!? Or were renas friends just toxic as fuck
                  ? <br />Rena told me that her friends had called me weird.
                </p>
                <p>
                  <a
                    href="https://paulgraham.com/nerds.html"
                    rel="noopener noreferrer nofollow"
                    >Yeah, nerds tend to not be popular in school, but some
                    people just look down on them forever.
                  </a>
                </p>
                <p>WHy look down on others?</p>
                <p>Why not talk to me straight forward face to face?</p>
                <p>Why not call me on the phone if you have a problem?</p>
                <p>What does blocking give you?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
