{{template "head.html" .}}
<div></div>
<turbo-frame id="flashes"> </turbo-frame>
<div class="container mx-auto px-8 min-h-[50vh]">
  <div class="container">
    <div class="flex items-center justify-center h-screen lg:w-5/6 m-auto">
      <div class="lg:grid grid-cols-8 gap-8 w-full">
        <div class="col-span-5 font-semibold text-sm mb-8 text-secondary">
          <h1
            class="text-2xl mb-6 bg-gradient-to-tr from-slate-100 to-emerald-400 inline-block text-transparent bg-clip-text"
          >
            this is a blag
          </h1>
          <div
            class="text-2xl mb-6 bg-gradient-to-tr from-slate-100 to-emerald-400 inline-block text-transparent bg-clip-text"
          >
            this is a header
          </div>

          <div class="flex border-subtle p-4 rounded-lg">
            <input
              type="email"
              name="waitlist[email]"
              id="waitlist_email"
              value=""
              placeholder="messi@workon.co"
            />
            <input
              type="submit"
              name="commit"
              value="Join the waitlist"
              class="!rounded-lg ml-4"
              data-disable-with="Join the waitlist"
            />
          </div>
          <div class="mt-16 text-center">
            <span class="block text-slate-700"
              >Very demure, very mindful beta testers can
              <a class="text-slate-500" href="/login"
                >sign in
                <i
                  class="fa-duotone fa-fw fa-square-right icon"
                  style=""
                  title=""
                  aria-hidden="true"
                ></i
              ></a>
              to your account.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
