{
	email adnan.f.wahab@gmail.com
	log {
		output file /var/log/caddy/caddy.log {
			roll_size 10MiB
			roll_keep 5
			roll_gzip
		}
		level DEBUG
	}
}

files.hashirama.blog {
	root * /home/adnan/derp
	file_server browse
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
}

hashirama.blog {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}

	route /* {
		reverse_proxy localhost:8080
	}

	route /ws/* {
		reverse_proxy localhost:8080 {
			transport http {
				# Allow WebSocket upgrades
				versions h2c 1.1
			}
		}
	}

	route /infra-tools/* {
		respond "ok"
	}

	route /robotics-tools/* {
		respond "ok"
	}

	route /science-tools/* {
		respond "ok"
	}

	route /health {
		respond "ok"
	}

	route /robotics-odyssey {
		redir https://roboticsodyssey.com #static bundle 
	}

	route /hello {
		respond "hello world"
	}

	route /api/* {
		respond "hello world"
		#reverse_proxy localhost:8080
	}

	route /portainer {
		reverse_proxy localhost:9000
	}

	route /immich/* {
		reverse_proxy localhost:2283
	}

	# route /caddy_proxy/* {
	# 	reverse_proxy /youtube https://www.youtube.com {
	# 		header_up Host {http.reverse_proxy.upstream.hostport}
	# 		header_up X-Real-IP {remote}
	# 		header_up X-Forwarded-For {remote}
	# 		header_up X-Forwarded-Proto {scheme}
	# 	}
	# }

	# route /ws/* {
	# 	reverse_proxy localhost:8080
	# }

	respond "404 Not Found" 404

	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"

	# Add logging for this site
	log {
		output file /home/adnan/derp/log/caddy/hashirama.blog.log {
			roll_size 10MiB
			roll_keep 5
			roll_gzip
		}
	}
}

jupyter.hashirama.blog {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}

	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
	reverse_proxy localhost:8888
}

# llama-tools.com {
# 	tls {
# 		dns porkbun pk1_db81d4b3634b90e44327d0d42d7fd5f46e3ca439a2ffe2587cd6a91ff9835aa3 sk1_dedb9466f623f54c717975473ac5c14a8a544f0a07b2f1266de20e55ffeafc70
# 	}
# 	#   /cgi/* { 
# 	#reverse proxy to flux
# 	respond "llama-tools"

# 	header Access-Control-Allow-Origin *
# 	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
# 	header Access-Control-Allow-Headers "Content-Type"
# }
