<html>
  {{template "head.html" .}}

  <body class="bg-slate-900 font-white">
    <style>
      #progress {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        background-color: steelblue;
        height: 2px;
        z-index: 30;
        transition: transform 0.1s ease-out;
      }
    </style>
    <script>
      window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const docHeight =
          document.documentElement.scrollHeight - window.innerHeight;
        const scrollPercent = (scrollTop / docHeight) * 100;
        const progress = document.getElementById("progress");
        progress.style.transform = `translate(${scrollPercent - 100}%, 0px)`;
      });
    </script>
    <div id="progress" style="transform: translate(-92.1045%, 0px)"></div>

    <div class="flex min-h-full">
      <div class="flex w-full flex-col">
        <div
          class="relative mx-auto flex w-full max-w-8xl flex-auto justify-center sm:px-2 lg:px-8 xl:px-12"
        >
          {{template "navigation-sidebar.html" .}}

          <div
            id="blog-container"
            class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden text-white"
          >
            <h1 class="text-gray-500 text-7xl">Archive</h1>
            {{range .Archive_Posts}}
            <div class="mb-4">
              <a href="{{.}}" class="text-blue-400 hover:text-blue-300">
                <h2 class="text-xl font-semibold">{{.}}</h2>
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div
        id="display"
        class="relative flex h-full max-w-full flex-1 flex-col overflow-hidden hidden"
      ></div>
    </div>
    {{template "footer.html" .}}
  </body>
</html>
