<div>
  https://robotics-journey.com
  <img
    height="500px"
    src="https://github.com/adnanwahab/hashirama/blob/main/services/homelab-status-page/static/images/blog/New%20Folder%20With%20Items/Screenshot%202024-09-12%20at%205.12.58%E2%80%AFAM.png?raw=true"
    height="500px"
  />
  <img
    height="500px"
    src="https://github.com/adnanwahab/hashirama/blob/main/services/homelab-status-page/static/images/blog/ezgif.com-optimize.gif?raw=true"
    height="500px"
  />

  <img
    height="500px"
    src="https://github.com/adnanwahab/hashirama/blob/main/services/homelab-status-page/static/images/blog/building.png?raw=true"
    height="500px"
  />

  Leilah fed 1 million familes in 2016. I was just her foot Solider. (my bad for
  not telling you about it in 2016, i did not know i was too busy speed learning
  computer vision + cgi 4 simulation / localizaiton ) In 2026, hashirama will
  feed 1 billion families by revolutionizing supply chains and building a
  https://dynamicland.org/ in every library, neighborhood, school, hospital and
  robotic command center. (its not a robotics demo, theres 100s of those. its a
  window / portal gun that everyone can use - click the cartoon and see a camera
  follow a robot around the house - Masively multiplayer robotic teleop - ) i
  dont care about anything else Sincerely
  <a href="https://en.wikipedia.org/wiki/Silent_protagonist"
    >silent_protagonist</a
  >

  you have no idea what actually happend and i dont care anymore
  https://www.youtube.com/watch?v=sAtZoIFW2Uw&t=24s
</div>
