
<div class="">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base/7 font-semibold text-indigo-400">
      <!-- Bret Victor + Alan Kay = inventors of future -->
    </h2>
    <p
      class="mt-2 max-w-lg text-pretty text-4xl font-medium tracking-tight text-blue-200 sm:text-5xl"
    >
      how to design robots to build
      <a href="https://dynamicland.org" class="underline">dynamicland.org</a>
    </p>
    <div
      class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-1"
    >
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-gray-800 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
        ></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]"
        >
          <a href="https://threejs-journey.com">
            {{ template "tele-guidance-frame" "dynamicland"}}

            <!-- <img src="/static/static-dynamicland.gif" /> -->
          </a>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-white/15 max-lg:rounded-t-[2rem] lg:rounded-tl-[2rem]"
        ></div>
      </div>
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-gray-800 lg:rounded-tr-[2rem]"
        ></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]"
        >
          {{template "tele-guidance-frame" "alan_how"}}
          <!-- <a href="https://dynamicland.org"> -->
          <!-- <iframe src="/demo?idk=how" class="h-80 w-full"></iframe> -->

          <!-- </a> -->

          <!-- <video muted="" poster="https://static.observablehq.com/assets/marketing/components/home-hero-cloud/hero-poster-dark.jpg" playsinline="" loop="" autoplay="" style="mix-blend-mode:screen" class="jsx-3538002051 animation tw-block tw-w-full"><source src="https://static.observablehq.com/assets/marketing/components/home-hero-cloud/hero-anim-dark.webm" type="video/webm" class="jsx-3538002051"><source src="https://static.observablehq.com/assets/marketing/components/home-hero-cloud/hero-anim-dark.mp4" type="video/mp4" class="jsx-3538002051"></video> -->
          <!-- <img
            class="h-80 object-cover object-left"
            src="/static/observable-video.gif"
            alt=""
          /> -->

          <!-- <div class="p-10 pt-4"> -->
          <!-- <h3 class="text-sm/4 font-semibold text-gray-400">Releases</h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-white">
              Push to deploy
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-400">
              Curabitur auctor, ex quis auctor venenatis, eros arcu rhoncus
              massa, laoreet dapibus ex elit vitae odio.
            </p> -->
          <!-- </div> -->
        </div>
        <!-- <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-white/15 lg:rounded-tr-[2rem]"
        ></div> -->
      </div>
    </div>
  </div>
</div>
