{
	email adnan.f.wahab@gmail.com
	admin localhost:2019
	debug
	acme_ca https://acme.zerossl.com/v2/DV90
	acme_dns cloudflare "NkMrF1e_xtqtSAEDvVPOXPVUa_VwxhBeNeKBVzxB"
}

learn-math.org {
	route /status_page {
		respond "status page"
	}

	route /* {
		reverse_proxy localhost:8000
	}

	# Add logging for this site
	log {
		output file /home/adnan/derp/log/caddy/hashirama.blog.log {
			roll_size 10MiB
			roll_keep 5
			roll_gzip
		}
	}

	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
}

files.learn-math.org {
	root * /home/adnan/derp/support_bret
	file_server browse
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
}

jupyter.learn-math.org {
	reverse_proxy localhost:8888
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header Access-Control-Allow-Headers "Content-Type"
}
