<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LiveKit Screenshare Client</title>
    <script src="https://unpkg.com/livekit-client"></script>
  </head>
  <body>
    <!-- <h1>i lost - the world will always win - everyone will be the hero of time.</h1> -->
    <button id="share">share</button>
    <!-- https://philip-haas.com/about/ -->
    <video
      id="screenShareVideo"
      autoplay
      playsinline
      style="width: 640px; height: 480px"
    ></video>

    <script type="module">
      //import {  Livekit }from "https://cdn.jsdelivr.net/npm/livekit-client@2.5.9/+esm";
      import {
        Room,
        RoomEvent,
        Track,
      } from "https://cdn.jsdelivr.net/npm/livekit-client@2.5.9/+esm";

      let Livekit = {
        Room,
        RoomEvent,
        Track,
      };

      // const token =
      //   "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjkxOTU3MjEsImlzcyI6IkFQSXRTYndYdlNqaDRjZiIsIm5hbWUiOiJzY3JlZW5fc2hhcmUiLCJuYmYiOjE3MjkxMDkzMjEsInN1YiI6InNjcmVlbl9zaGFyZSIsInZpZGVvIjp7ImNhblVwZGF0ZU93bk1ldGFkYXRhIjp0cnVlLCJyb29tIjoicm9vbSIsInJvb21BZG1pbiI6dHJ1ZSwicm9vbUNyZWF0ZSI6dHJ1ZSwicm9vbUpvaW4iOnRydWUsInJvb21MaXN0Ijp0cnVlLCJyb29tUmVjb3JkIjp0cnVlfX0.Ub3VigeCkaL4sG4cdw7VaPfaHECuMg8buy6u38xqZPQ";

      const livekit_connect = 'livekit_connect'
      async function postLivekitConnect() {
        const response = await fetch('/livekit_connect', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ identity: 'screenshare' }),
        });

        if (!response.ok) {
          console.error('Failed to connect to Livekit:', response.statusText);
          return;
        }

        const data = await response.json();
        //console.log('Connected to Livekit:', data);
        return data
      }

      const liveKit_data = await postLivekitConnect();


      let room;
      const button = document.getElementById("share");
      button.addEventListener("click", joinRoom);
      async function joinRoom() {
        room = new Room();
        //console.log('room', room.name)
        const url = "wss://omnissiah-university-kmuz0plz.livekit.cloud";
        await room.connect(url, liveKit_data.token);

        room.on(
          RoomEvent.TrackSubscribed,
          (track, publication, participant) => {
            if (
              track.kind === Track.Kind.Video &&
              track.source === Track.Source.ScreenShare
            ) {
              track.attach(screenShareVideo);
            }
          },
        );

        room.on(
          RoomEvent.TrackUnsubscribed,
          (track, publication, participant) => {
            if (
              track.kind === Track.Kind.Video &&
              track.source === Track.Source.ScreenShare
            ) {
              track.detach(screenShareVideo);
            }
          },
        );

        room.on(RoomEvent.LocalTrackPublished, (publication, participant) => {
          if (
            publication.kind === Track.Kind.Video &&
            publication.source === Track.Source.ScreenShare
          ) {
            publication.track.attach(screenShareVideo);
          }
        });

        room.on(RoomEvent.LocalTrackUnpublished, (publication, participant) => {
          if (
            publication.kind === Track.Kind.Video &&
            publication.source === Track.Source.ScreenShare
          ) {
            publication.track.detach(screenShareVideo);
          }
        });
        toggleScreenShare(room);
      }

      async function toggleScreenShare(room) {
        const enabled = room.localParticipant.isScreenShareEnabled;
        console.log(`${enabled ? "stopping" : "starting"} screen share`);
        try {
          await room.localParticipant.setScreenShareEnabled(!enabled, {
            audio: true,
          });
        } catch (e) {
          console.error("error sharing screen", e);
        }
      }
      //private tracker - 1tb animated stories(comics, hn, cartoons)
      // 1 tb - robot actions
      // 1tb research ppapers and books - discussion.
      // 1tb intermediate represenstaiton
      //we 'll meet someday.
      // you'll be megaman x, and i'll be one of dr lights - helpers in the capsule.
      // all of you will be mega manx. you'll have boots, armor, and hellmet.
      // you win. i lost. i was weak. i am weak. i will always be weak.
      // but mega man x  will always be strong. because the world needs everyone to be a  champion.
      //mass effect, matt, shodan, and the 3 factions and inner circle and 3 pyramid = mega man x * 1 million. you win.
      //i dont believe in spiritaulity, i believe in science and art - those are the answer krishnamurtih and so on sought.
      //self sacrifice is okay sometimes. if a lion attacks your tribe - it might be the only answer
      // until dynamicland.
      //rest easy, dynamicland is here.
      //i'll try vipassana - im not lufffy - or leohengramm - i cant win overyone to my side.
    </script>
  </body>
</html>
