  body {
        background: #333;
      }
      
      #container * {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;
        padding: 25px;
      }

      canvas {
        position: absolute;
        left: 0px;
        top: 0px;
      }

      #embed {
        opacity: 0.1;
        height: 200px;
        width: 200px;
        padding-top: 50px;
      }

      #control-panel {
        z-index: 124;
        position: absolute;
      }
      #control-panel {
        background: steelblue;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
        color: lightgray;
      }

      #control-panel label {
        display: block;
        
      }
      #control-panel label:hover {
        background: pink;
        
      }

      audio {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 999;
      }

      canvas {
        margin-left: 500px
      }
