<!doctype html>
<html lang="en">
  <head>
    <title>three.js WEBGPU - particles - waves</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <!-- <link type="text/css" rel="stylesheet" href="main.css" /> -->
    <!-- did you send me a website a while ago where the landing is all pointclouds and it morphs between different pointcloud models? -->

    <!-- <script type="importmap">
			{
				"imports": {
					"three": "../build/three.webgpu.js",
					"three/tsl": "../build/three.webgpu.js",
					"three/addons/": "./jsm/"
				}
			}
		</script> -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://threejs.org/build/three.webgpu.js",
          "three/tsl": "https://threejs.org/build/three.webgpu.js",
          "three/addons/": "https://threejs.org/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <div id="info">
      <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
      - webgl particles waves example
    </div>

    <style>
      canvas {
        height: 50%;
        width: 50%;
        display: inline-block;
      }
    </style>

    <!-- <canvas id="canvas_1"></canvas> -->
    <canvas id="canvas_2"></canvas>
    <canvas id="canvas_3"></canvas>

    <!-- <script
      type="module"
      class="module-1"
      src="/static/js/three_demos/particles_1.js"
    ></script> -->

    <script
      type="module"
      class="module-1"
      src="/static/js/three_demos/particles_2.js"
    ></script>

    <script
      type="module"
      class="module-3"
      src="/static/js/three_demos/particles_3.js"
    ></script>
  </body>
</html>
<!-- fall asleep drawing comics  -->
<!--  when you wakeup - different timeline -->
<!-- particle times lines  -->
<!-- the arrow of time is aboslute -->
<!-- its the rarest thing to see  a particle or snapshot flowbawards from one stream to another-->
<!--  coolest things cant say in words-->
<!-- be silent protagonist - make your house so everyone in the world could walk in and be like this seems fine and no real like wtfs  -->

<!-- the coolest protagonist in my opinion are the 50% calvin+hobbies + bill watersons  -->

<!-- do it for gilly + sister -->

<!-- what chomsky said is true - even more so possbily for stable diffusion -->

<!-- should artists be mad and sue openai?  -->
<!--  i think their skill should become one of the most powerful specs of the future-->
<!-- magic-ink .5 -->
<!-- peter thiel - "only racism and humor wont be replaced" -->
<!-- alan kay - flower vs intelligence  -->
<!-- you have to be a gpu + cognition maximilaist -  -->
<!-- theres no end to human cognition - gpus will eventually hit physics limitations in 10-20 years -->

<!-- 1. artist -->
<!-- 2. artist -->
<!-- 3.  -->
<!-- 4.  physican / nurses / responsiblity + physically-->
<!-- 5.  people who work with their hands - fingers are probably the most difficult thing to do in robotics - probably the last apenage we can digitize and mechanize-->
<!-- 6. bob or sally the builder -->
<!-- 7.  therapist / mystic -->

<!-- -- 1 thing i learned in 5 years - our brains are so much more powerful than society or science udnerstands -thers some divine magic there  -->

<!-- 8 billion people start to generate new ideas -  -->
<!-- will we use up creativity? is it a finite space? -->

<!-- how would wikipedia in 1000 years?  - patrick collisn -->
<!-- how would tvtropes in 1000 years? -->

<!-- classification -->
<!-- we are not even ,1% of how long the dinosaurs lived  -->

<!-- lanagueg = pointer - model -> simulation of reality -> benefit is

you propose update  to model to "know" which actions make sense in a different setting
-->

<!-- ramen guy - silent protagonist  -->

<!-- https://threejs.org/examples/webgpu_textures_partialupdate.html -->
<!-- https://threejs.org/examples/webgpu_compute_particles_rain.html -->
